# Packages can be loaded by running pub install.
packages

# Dart Editor config file.
.project

# Project build data.
.buildlog

# The out/ folder can be recreated by running build.dart.
out
client/out
client/web/out

# YAML input files can be generated with the docgen package in the Dart repo.
docs
client/docs
local
client/local

# Compiled python bytecode can be recreated by rerunning the scripts.
*.pyc