/*
TODO(janicejl): Rewrite this file using nested rules to simplify the CSS after 
polymer stabilizes. 
*/

.main-body { 
  padding-top: 70px; 
  padding-left: 10px;
  padding-right: 10px;
}

.header-logo {
  background-image: url('../dart-logo-small.png');
  width: 66px;
  height: 44px;
  float: left;
}

.kind.kind-library {
  background-image: url('../package_obj.gif');
}

.kind.kind-class {
  background-image: url('../class_public.png');
}

.kind.kind-typedef {
  background-image: url('../functiontype_public.png');
}

.kind.kind-typedef.private {
  background-image: url('../functiontype_private.png');
}

.kind.kind-class.private {
  background-image: url('../class_private.png');
}

.kind.kind-exception {
  background-image: url('../exception.png');
}

.kind.kind-method, .kind.kind-operator {
  background-image: url('../method_public.png');
}

.kind.kind.getter, .kind.kind.setter, .kind.kind-constructor, .kind.static {
  background-size: 16px 16px, 24px 16px;
}

.kind.kind-method.static, .kind.kind-operator.static {
  background-image: url('../method_public.png'), url('../static.png');
}

.kind.kind-method.private {
background-image: url('../method_private.png');
}

.kind.kind-variable {
  background-image: url('../field_public.png');
}

.kind.kind-variable.static {
  background-image: url('../field_public.png'), url('../static.png');
}

.kind.kind-variable.private {
  background-image: url('../field_private.png');
}

.kind.kind-property.getter {
  background-image: url('../method_public.png'), url('../getter.png');
}

.kind.kind-method.setter {
  background-image: url('../method_public.png'), url('../setter.png');
}

.kind.kind-property.private {
  background-image: url('../method_private.png');
}

.kind.kind-constructor {
  background-image: url('../method_public.png'), url('../constructor.png');
}

.kind.kind-constructor.private {
  background-image: url('../method_private.png'), url('../constructor.png');
}

.kind.kind-exception {
  background-image: url('../exception.png');
}

#minimap {
  padding-left: 10px;
  max-height: 80%;
  width: 300px;
  overflow: auto;
}

/*
TODO(janicejl): Currently uses fixed widths, change to use flex-box in future.
*/
#minimap ul {
  list-style: disc url('../smallcorner.png');
}

#minimap ul ul {
  list-style: disc url('../smallcorner.png');
}

#minimap li.active a {
  font-weight: bolder;
  color: #333;
}

#library-panel {
  max-height: 90%;
  width: 200px;
  overflow: auto;
}

.margin-left {
  margin-left: 220px;
}

.margin-right {
  margin-right: 320px;
}

.affix-right {
  top: 60px;
  position: fixed;
  right: 10px;
}

.affix-left {
  top: 60px;
  position: fixed;
  left: 10px;
}

#search {
  width: 280px;
}

.search-result {
  width: 280px;
  font-size: 12px;
}

.search-result:focus,
.search-result:hover {
  background-color: #357ebd;
}

.search-result:focus #result-name,
.search-result:hover #result-name {
  color: #ffffff;
}

/*
  MDN
*/
.mdn {
  border: solid 1px hsl(10, 80%, 90%);
  border-radius: 4px;
  line-height: 22px;
  margin: 22px 0;
  padding: 21px 21px 0 21px;
}

/* End MDN message. */
.mdn-note {
  font-size: 11px;
  font-style: italic;
  color: hsl(10, 60%, 80%);
  text-align: right;
  line-height: 21px; /* To absorb bottom border 1px. */
  margin-right: -14px;
}

.mdn-note a {
  color: hsl(10, 60%, 80%);
}

.mdn-note a:hover {
  color: hsl(10, 60%, 60%);
}