/*
TODO(janicejl): Rewrite this file using nested rules to simplify the CSS after 
polymer stabilizes. 
*/

.main-body { padding-top: 70px; }

.header-logo {
  background-image: url('../dart-logo-small.png');
  width: 66px;
  height: 44px;
  float: left;
}

.kind.kind-library {
  background-image: url(package_obj.gif);
}

.kind.kind-class {
  background-image: url(class_public.png);
}

.kind.kind-typedef {
  background-image: url(functiontype_public.png);
}

.kind.kind-typedef.private {
  background-image: url(functiontype_private.png);
}

.kind.kind-class.private {
  background-image: url(class_private.png);
}

.kind.kind-exception {
  background-image: url(exception.png);
}

.kind.kind-method, .kind.kind-operator {
  background-image: url(method_public.png);
}

.kind.kind.getter, .kind.kind.setter, .kind.kind-constructor, .kind.static {
  background-size: 16px 16px, 24px 16px;
}

.kind.kind-method.static, .kind.kind-operator.static {
  background-image: url(method_public.png), url(static.png);
}

.kind.kind-method.private {
background-image: url(method_private.png);
}

.kind.kind-variable {
  background-image: url(field_public.png);
}

.kind.kind-variable.static {
  background-image: url(field_public.png), url(static.png);
}

.kind.kind-variable.private {
  background-image: url(field_private.png);
}

.kind.kind-property.getter {
  background-image: url(method_public.png), url(getter.png);
}

.kind.kind-method.setter {
  background-image: url(method_public.png), url(setter.png);
}

.kind.kind-property.private {
  background-image: url(method_private.png);
}

.kind.kind-constructor {
  background-image: url(method_public.png), url(constructor.png);
}

.kind.kind-constructor.private {
  background-image: url(method_private.png), url(constructor.png);
}

.kind.kind-exception {
  background-image: url(exception.png);
}