body {
  margin: 0;
  font: 12px Open Sans, Lucida Sans Unicode, Lucida Grande, sans-serif;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #333;
}

pre {
  font: 12px Menlo, Monaco, Consolas, Courier, monospace;
  background: #fcfcfc;
  border: 1px solid #eee;
  border-radius: 4px;
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px;
  padding: 10px;
  overflow-x: auto;
}

code {
  font: 12px Menlo, Monaco, Consolas, Courier, monospace;
  background: #fcfcfc;
  border: 1px solid #eee;
  border-radius: 4px;
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px;
  padding: 0 4px;
}

pre > code {
  border: 0;
  padding: 0;
}

nav {
  background: #efefef;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  font-size: 14px;
}

nav ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

nav li {
  float: left;
  display: block;
  padding: 2px;
}

nav li:before {
  content: ' / ';
}

main {
  position: absolute;
  left: 0;
  right: 0;
}

h1 {
  padding: 10px;
}

main section {
  font-size: 10px;
  font-style: italic;
  padding: 0 10px 10px 20px;
}

details summary {
  padding: 10px;
  font-size: 14px;
}

details a {
  text-decoration: none;
  color: #333;
}

details a article {
  text-decoration: none;
  color: #333;
}

details article {
  position: relative;
  left: 0;
  right: 0;
  padding: 10px;
  background: #fdfdfd;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.05);
}

details article:HOVER {
  opacity: .7;
}

details article h1 {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

details .content {
  padding: 0 10px 10px 20px;
}